---
interface Props {
  className: string;
  text: string;
}

const { className, text } = Astro.props;
import clsx from "clsx";
import * as styles from "./TextTile.css";
---

<div class={clsx(styles.container, className)}>
  <p class={styles.text}>{text}</p>
</div>
