---
interface Props {
  className: string
  text: string
}

const { className, text } = Astro.props;
import * as styles from "./TextTile.css"
---

<div class={`${styles.container} ${className}`}>
  <p class={styles.text}>{text}</p>
</div>
