---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import DarkTile from "../components/DarkTile.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-black">
    <div class="grid grid-cols-2">
      <DarkTile className={"col-span-1"} />
      <DarkTile className={"col-span-1"} />
    </div>
  </body>
</html>
