---
import clsx from "clsx";
import * as styles from "./Link.css";

interface Props {
  href: string;
  className?: string;
  target?: string;
}

const { href, className, target = "_blank" } = Astro.props;
---

<a href={href} target={target} class={clsx(styles.link, className)}>
  <slot />
</a>
